<div class="flex flex-col mb-5 min-w-full">
  <div class="mb-5">
    <h2 class="font-bold">Made for you</h2>
    <p class="text-main-gray font-semibold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse maxime nemo minima consequuntur rem fugit laboriosam id repudiandae. Asperiores laudantium cumque minima velit! Laborum eaque et, suscipit pariatur iusto laudantium? </p>
  </div>

  <div class="card-container grid gap-6">
    <spotify-card></spotify-card>
    <spotify-card></spotify-card>
    <spotify-card></spotify-card>
    <spotify-card></spotify-card>
    <spotify-card></spotify-card>
    <spotify-card></spotify-card>
  </div>
</div>
