.tile {
  grid-template-columns: 16px 4fr 2fr minmax(100px, 1fr);
  @apply grid mx-2 px-3 md:mx-5 lg:mx-10 md:px-5;

  &.header {
    top: 60px;  // Top bar's height
    background-color: #181818;
    border-color: rgba(255,255,255,.1)
  }

  > * {
    @apply flex items-center;
  }

  > :nth-clike-nth-child(3) {
    @apply justify-self-start;
  }

  > :nth-child(4) {
    @apply justify-self-end;
  }

  &:hover {
    .like-btn,
    .more-btn {
      @apply visible;
    }
    .number a {
      opacity: 0;
    }
    .number i {
      opacity: 1;
    }
    div .line-clamp-1 {
      color: #fff;
    }
  }
}

