<div class="relative" *ngIf="tracks">
  <!-- Header -->
  <div class="header tile sticky h-10 border-b z-10 font-semibold text-sm text-main-gray uppercase">
    <div>#</div>
    <div>Title</div>
    <div>Album</div>
    <div><i class="fal fa-clock mr-9 text-base"></i></div>
  </div>

  <!-- Body -->
  <div>
    <div class="tile h-16 hover:bg-white hover:bg-opacity-10" *ngFor="let track of tracks; index as i">
        <!-- Index -->
        <div>{{ i + 1 }}</div>

        <!-- Title -->
        <div>
          <span class="line-clamp-1">{{ track.track.name }}</span>
        </div>

        <!-- Album -->
        <div>
          <span class="line-clamp-1">{{ track.track.album.name }}</span>
        </div>

        <!-- Button group -->
        <div>
          <button class="like-btn invisible mr-5"><i class="fal fa-heart"></i></button>
          <span class="mr-5">{{ track.track.durationMs | duration:'short' }}</span>
          <button class="more-btn invisible"><i class="far fa-ellipsis-h"></i></button>
        </div>
    </div>
  </div>
</div>
