:host {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 60px auto 90px;
  grid-template-areas: 
    "sidebar top-bar"
    "sidebar main-view"
    "play-bar play-bar";
  height: 100vh;
}

spotify-play-bar {
  grid-area: play-bar;
  background-color: red;
}

spotify-sidebar {
  grid-area: sidebar;
  background-color: green;
}

main-view {
  grid-area: main-view;
  background-color: yellow;
}

spotify-top-bar {
  grid-area: top-bar;
  background-color: blue;
}
