<div class="wrapper static top-0 right-0 left-0 w-auto
            flex items-center text-sm p-4 z-50
            sm:fixed lg:px-9 lg:py-0">
  <!-- Display if unauthorized -->
  <div spotifyAuthCheck [displayIfAuth]="false" class="unauthenticated"
       class="w-full">
    <div class="btn-group flex justify-end">
      <button (click)="signUp()" class="py-3"> Sign up </button>
      <button (click)="login()" class="py-3 bg-white text-gray-700"> Log in </button>
    </div>
  </div>

  <!-- Display if authorized -->
  <div spotifyAuthCheck [display]="'flex'"
       *ngIf="userProfile?.displayName"
       class="relative w-full flex justify-between">

    <div class="navigation-btn-group">
      <button (click)="goBack()" class="mr-4"><i class="fal fa-chevron-left"></i></button>
      <button (click)="goForward()"><i class="fal fa-chevron-right"></i></button>
    </div>

    <div class="btn-group flex">
      <button (click)="upgrade()"
              class="hidden lg:block mr-5 py-2
                     border border-white">
        Upgrade
      </button>

      <button contextMenu
              [event]="['click']"
              [popup]="popup"
              [class.bg-gray-800]="popup.openMenu"
              class="user h-9 flex justify-center items-center
                     lg:pr-3 text-base lg:hover:bg-gray-800">

        <img [src]="userProfile!.images[0].url" class="rounded-full h-full object-cover">
        <span class="hidden lg:block ml-3">{{ userProfile!.displayName }}</span>
        <i class="fas ml-3 hidden lg:block"
           [ngClass]="popup.openMenu ? 'fa-caret-up' : 'fa-caret-down'">
        </i>
      </button>

      <spotify-top-bar-context-menu class="absolute top-full right-0 mt-2" #popup></spotify-top-bar-context-menu>
    </div>
  </div>
