@import '/src/styles/responsive.scss';

.wrapper {
  background-color: #141414;

  @include responsive(sm) {
    left: 230px;  // Sidebar's width
    height: 60px;
  }
}

.btn-group > button {
  @apply rounded-full font-bold;

  &:not(.user) {
    letter-spacing: 1.76px;
    @apply px-10 uppercase;

    &:hover {
      @apply transform scale-105;
    }
  }
}

.navigation-btn-group {
  button {
    width: 32px;
    height: 32px;
    font-size: 20px;
    font-weight: 900;
    
    &:disabled {
      background-color: rgba(0, 0, 0, .7);
    }
  }
}
