<div class="wrapper static top-0 right-0 left-0 w-auto
            flex justify-end items-center text-sm z-50
            p-4 lg:px-9 lg:py-0 lg:fixed">
  <!-- Display if unauthorized -->
  <div spotifyAuthCheck [displayIfAuth]="false">
    <button (click)="signUp()" class="px-10 py-3"> Sign up </button>
    <button (click)="login()" class="px-10 py-3 bg-white text-gray-700"> Log in </button>
  </div>

  <!-- Display if authorized -->
  <div spotifyAuthCheck [display]="'flex'"
       *ngIf="userProfile?.displayName"
       class="relative">

    <button (click)="upgrade()"
            class="hidden lg:block mr-5 px-10 py-2
                   border border-white">
      Upgrade
    </button>

    <button contextMenu
            [event]="['click']"
            [popup]="popup"
            [class.bg-gray-800]="popup.openMenu"
            class="user h-9 flex justify-center items-center
                   lg:pr-3 text-base lg:hover:bg-gray-800">

      <img [src]="userProfile!.images[0].url" class="rounded-full h-full object-cover">
      <span class="hidden lg:block ml-3">{{ userProfile!.displayName }}</span>
      <i class="fas ml-3 hidden lg:block"
         [ngClass]="popup.openMenu ? 'fa-caret-up' : 'fa-caret-down'">
      </i>
    </button>

    <spotify-top-bar-context-menu class="absolute top-full right-0 mt-2" #popup></spotify-top-bar-context-menu>
</div>
