.wrapper {
  left: 230px;  // Sidebar's width
  height: 60px;
  background-color: #141414;
}

div > button {
  @apply rounded-full font-bold;

  &:not(.user) {
    letter-spacing: 1.76px;
    @apply uppercase;

    &:hover {
      @apply transform scale-105;
    }
  }
}

.dropdown {
  button {
    @apply flex justify-between items-center px-2.5 py-3.5 w-52 font-bold text-base-sm text-main-gray;

    &:hover {
      @apply bg-gray-700 text-white;
    }
  }
}
