.wrapper {
    background-color: black;
    color: #ffffffbf;
    & > div {
        padding: 10px 5px;
    }

    .logo > * {
        padding: 10px 50px 0px 10px
    }

    .active {
        @apply bg-gray-400 bg-opacity-25;
    }

    .ruler {
        width: 80%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.425);
        display: block;
        margin: auto;
    }

    .fas {
        margin-right: 10px;
        font-size: 22px;
        font-weight: 100;
    }

    button {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 16px;
        height: 40px;
        padding: 0 16px;
        width: 100%;
    }
    button:hover {
        color: white;
    }

    .playlist > button {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 16px;
        height: 30px;
        padding: 0 16px;
        width: 100%;
    }
    .custom-playlist {
        overflow-y: auto;
        max-height: 20rem;
    }
}