:host {
    @apply h-full;
}

.wrapper {
    height: calc(100vh - 90px); // Play bar's height

    i {
        @apply mr-3 text-2xl font-thin;
    }

    button {
        @apply w-full h-11 flex items-center py-0 px-4;
        @apply rounded font-semibold cursor-pointer hover:text-white;
    }

    .logo {
        > svg {
            max-width: 130px
        }
    }

    .navigation {
        .active {
            @apply bg-gray-400 bg-opacity-25 text-white;

            i {
                @apply font-black;
            }
        }
    }

    .ruler {
        @apply block w-4/5 h-px m-auto;
        background-color: #282828;
    }

    .playlist {
        .active {
            @apply text-white;
        }
    }
}
