<div class="h-full">
  <!-- If unauthorized -->
  <div spotifyAuthCheck [displayIfAuth]=false [display]="'flex'"
       class="advertisement fixed bottom-0 left-0 right-0 h-20 
              justify-between items-center px-7
              sm:static sm:h-full">
    <!-- Left box -->
    <div class="left-box">
      <p class="text-lg uppercase">Spotify preview</p>
      <p class="text-base-sm">Subscribe for unlimited songs and postcards</p>
    </div>

    <!-- Right box -->
    <div class="right-box flex items-center">
      <button (click)="signUp()"
              type="button"
              class="py-2 px-4 rounded-full bg-white text-base sm:text-lg text-blue-600 font-semibold
                     transition duration-300 sm:hover:scale-110">
        Free Sign Up
      </button>
    </div>

  </div>



  <!-- If authorized -->
  <div spotifyAuthCheck [display]="'flex'"
       class="fixed bottom-24 left-3 right-3 h-16
              flex items-center flex-row p-3 rounded-md
            sm:!bg-gray-900 border-gray-700 text-white
              sm:static sm:h-full sm:rounded-none sm:px-2.5 sm:py-0 sm:border-t md:px-4"
       [ngStyle]="{'background-color': mobileBackgroundColor}">

    <!-- Left box -->
    <div class="left-box w-1/3 flex flex-1">
      <div *ngIf="playBackState?.trackWindow?.currentTrack" class="flex">
        <a class="image relative block" href>

          <div class="w-12 h-12 sm:w-16 sm:h-16">
            <img [src]="playBackState!.trackWindow.currentTrack.album.images[0]?.url"
                 *ngIf="playBackState!.trackWindow.currentTrack.album?.images && 
                        playBackState!.trackWindow.currentTrack.album.images.length > 0"
                 class="rounded-md sm:rounded-none"
                 alt="">
          </div>

          <!-- Raise button -->
          <button class="absolute top-1.5 right-1.5 w-7 h-7
                       hidden sm:flex items-center justify-center
                       bg-gray-900 bg-opacity-70 hover:bg-opacity-80 rounded-full 
                       text-main-gray hover:text-white hover:scale-105 invisible">
            <i class="fal fa-chevron-up"></i>
          </button>
        </a>

        <!-- Song information -->
        <div class="flex justify-center flex-col w-38 px-3 md:px-4 font-normal">
          <a class="font-semibold line-clamp-1 hover:underline" href>{{ playBackState!.trackWindow.currentTrack.name }}</a>
          <span class="text-sm text-gray-400 font-semibold line-clamp-1">
            <ng-container *ngFor="let artist of playBackState!.trackWindow.currentTrack.artists; last as last">
              <a class="hover:underline hover:text-white" href>{{ artist.name }}</a>
              <ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </span>
        </div>

        <div class="hidden sm:flex items-center">
          <button class="pl-2 pr-2 font-extralight text-main-gray hover:text-white">
            <i class="far fa-heart"></i>
          </button>
        </div>

      </div>
    </div>

    <!-- Center box -->
    <div class="center-box hidden sm:flex w-5/12 flex-1 justify-center">
      <div class="flex flex-col justify-center items-center w-full">
        <div class="btn-group flex flex-row">

          <!-- Left button group -->
          <div>
            <div>
              <button><i class="far fa-random"></i></button>
            </div>
            <div>
              <button (click)="prev()"><i class="fas fa-step-backward"></i></button>
            </div>
          </div>

          <!-- Toggle button -->
          <button (click)="togglePlay()"
                  [disabled]="playBackState === undefined"
                  class="toggle-btn w-9 h-9 flex justify-center items-center bg-white rounded-full text-4xl 
                         hover:scale-105 disabled:hover:transform-none disabled:bg-main-gray">

            <svg role="img" height="16" width="16" viewBox="0 0 24 24" *ngIf="playBackState === undefined || playBackState.paused">
              <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="#000000"></polygon>
            </svg>
            <svg role="img" height="16" width="16" viewBox="0 0 16 16" *ngIf="playBackState !== undefined && !playBackState.paused">
              <path fill="none" d="M0 0h16v16H0z"></path>
              <path fill="#000000" d="M3 2h3v12H3zm7 0h3v12h-3z"></path>
            </svg>
          </button>

          <!-- Right button group -->
          <div>
            <div>
              <button (click)="next()"><i class="fas fa-step-forward"></i></button>
            </div>
            <div>
              <button><i class="fas fa-repeat"></i></button>
            </div>
          </div>
        </div>

        <!-- Time slider -->
        <div class="playback-bar flex w-full justify-center items-center mt-3">
          <div class="text-gray-400 text-sm">{{ playBackState?.position | duration:'short' }}</div>
          <input type="range" class="rounded-xl bg-white outline-none flex items-center w-full mr-1 ml-1"
                 id="progress-bar" min="0" max="100" value="0" step="1">
          <div class="right-0 text-gray-400 text-sm">{{ playBackState?.duration | duration:'short' }}</div>
        </div>

      </div>
    </div>

    <!-- Right box -->
    <div class="right-box hidden sm:flex flex-1 w-1/4 justify-end">
      <button>
        <i class="fas fa-music mx-2 text-base text-gray-400 hover:text-white"></i>
      </button>
      <button>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="ml-2 text-gray-400 hover:text-white"
             viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15-2v6l5-3-5-3z"></path>
        </svg>
      </button>
      <div class="volume flex items-center relative justify-center w-36 outline-none mx-2">
        <button><i class="fas fa-volume-up ml-1 text-base font-medium text-gray-400 hover:text-white"></i></button>
        <input type="range" class="volumn-bar rounded-md outline-none relative bg-white"
               id="volumn-bar" min="0" max="100" value="0" step="1">
      </div>
      <button><i class="fas fa-expand-alt mr-2 text-gray-400 hover:text-white"></i></button>
    </div>

    <!-- Mobile right box -->
    <div class="mobile-right-box flex">

      <div>
        <button [disabled]="playBackState === undefined"
                class="px-2 disabled:text-main-gray">
          <i class="fal fa-heart text-2xl"></i>
        </button>
      </div>

      <div>
        <button (click)="togglePlay()"
                [disabled]="playBackState === undefined"
                class="px-2 disabled:text-main-gray">

          <svg role="img" height="23" width="23" viewBox="0 0 24 24" *ngIf="playBackState === undefined || playBackState.paused" fill="currentColor">
            <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
          </svg>
          <svg role="img" height="23" width="23" viewBox="0 0 16 16" *ngIf="playBackState !== undefined && !playBackState.paused">
            <path fill="none" d="M0 0h16v16H0z"></path>
            <path fill="currentColor" d="M3 2h3v12H3zm7 0h3v12h-3z"></path>
          </svg>
        </button>
      </div>

    </div>

  </div>
</div>
