.advertisement {
  background: linear-gradient(90deg,#af2896,#509bf5);
}

.left-box {
  min-width: 180px;

  .image {
    &:hover {
      button {
        @apply visible;
      }
    }
  }
}

.center-box {
  max-width: 722px;

  .btn-group {
    > * {
      @apply flex items-center;
    }

    .btn-group-left,
    .btn-group-right {
      > div {
        @apply mx-3.5;
        
        button {
          @apply relative text-base font-medium text-main-gray duration-500;
          @apply hover:text-white disabled:text-gray-600;

          > .dot {
            @apply absolute block w-1 h-1 left-1/2 -translate-x-1/2;
            @apply opacity-0 rounded-full bg-main-green-dark duration-500;
          }
          
          &.active {
            @apply text-main-green-dark;
            
            > .dot {
              @apply opacity-100;
            }

            &:hover {
              @apply text-main-green;

              > .dot {
                @apply text-main-green;
              }
            }
          }
        }
      }
    }

    > button {
      @apply mx-1.5;

      > :first-child {
        @apply -ml-px;
      }
    }
  }

  .playback-bar {
    > div {
      min-width: 40px;
    }
  }
}

.mobile-right-box {
  > div {
    @apply sm:hidden flex items-center mx-1.5;

    button {
      @apply px-2;
    }
  }
}

.right-box {
  min-width: 180px;
}
