<div contextMenu
     [popup]="type === 'playlist' ? playlistContext! : podcastContext!"
     [event]="['contextmenu']"
     [routerLink]="['/playlist', playlist.id]"
     class="wrapper relative block sm:p-4 rounded transition duration-300 cursor-pointer">
     
  <div class="h-full">
    <!-- Image -->
    <div class="image-wrapper relative mb-2 sm:mb-5">
      <div class="shadow-lg w-36 h-36 sm:w-auto sm:h-auto">
        <img class="rounded-sm h-full w-full" [src]="playlist.images[0].url" alt="" />
      </div>

      <!-- Raising button -->
      <button (click)="playPlaylist($event)"
              class="absolute bottom-0 right-2 w-11 h-11 
                     hidden sm:flex justify-center items-center 
                     rounded-full bg-main-green opacity-0
                     transform duration-300">
        <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
          <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
        </svg>
      </button>

    </div>
    <!-- Image end -->

    <!-- Information text -->
    <div class="title-wrapper">
      <h5 class="hidden max-w-full text-lg font-bold sm:line-clamp-1">{{ playlist.name | removeTag }}</h5>
      <p class="mt-1 text-base-sm text-main-gray line-clamp-2 leading-tight">{{ playlist.description | removeTag }}</p>
    </div>

  </div>
</div>

<spotify-playlist-context-menu #playlistContext [hidden]="type !== 'playlist'" class="fixed" ></spotify-playlist-context-menu>
<spotify-podcast-context-menu #podcastContext [hidden]="type !== 'podcast'" class="fixed" ></spotify-podcast-context-menu>
