<a class="container block w-full p-4 rounded transition duration-300" href>
  <div class="h-full">
    <!-- Image -->
    <div class="image-wrapper relative mb-5">
      <div class="shadow-lg">
        <img class="rounded-sm h-full w-full" [src]="playlist.images[0].url" alt="" />
      </div>

      <!-- Raising button -->
      <button class="absolute bottom-0 right-2 w-11 h-11 
                     flex justify-center items-center 
                     rounded-full bg-green-500 opacity-0
                     transform duration-300">
        <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
          <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
        </svg>
      </button>

    </div>
    <!-- Image end -->

    <!-- Information text -->
    <div class="title-wrapper">
      <h5 class="max-w-full font-bold line-clamp-1">{{ playlist.name }}</h5>
      <p class="mt-1 text-main-gray line-clamp-2">{{ playlist.description }}</p>
    </div>

  </div>
</a>
