<main *ngIf="playlist" class="pb-5">
  <spotify-banner [image]="playlist.images[0]"
                  [title]="playlist.name"
                  [uponText]="'playlist'"
                  [description]="playlist.description"
                  [owner]="playlist.owner"
                  [tracks]="playlist.tracks.items">
  </spotify-banner>
  <spotify-banner-button-group [playlist]="playlist"></spotify-banner-button-group>
  <spotify-track-list [tracks]="playlist.tracks.items"></spotify-track-list>
</main>
