/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Spotify";
  src: url("assets/fonts/spotify/spotify-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spotify";
  src: url("assets/fonts/spotify/spotify-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 14px;
}

body {
  font-family: "Spotify", Arial, Helvetica, sans-serif;
  @apply text-white;
}

.text-secondary {
  color: rgb(179, 179, 179);
}
