/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 14px;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  @apply text-white;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}
