<div class="wrapper relative h-vh-30 flex px-9 pb-7">
  <!-- Background and gradient -->
  <div class="absolute inset-0" #background></div>
  <div class="absolute inset-0" #gradient></div>

  <!-- Image -->
  <div class="w-56 h-56 xl:w-64 xl:h-64 self-end mr-7 z-0">
    <img [src]="image.url" />
  </div>

  <!-- Details -->
  <div class="flex flex-col justify-end z-0">
    <h6 *ngIf="uponText" class="font-bold text-sm uppercase">{{ uponText }}</h6>
    <h1 *ngIf="title" class="font-black leading-tight tracking-tight" [class.text-7xl]="title.length > 15">{{ title }}</h1>
    <h6 *ngIf="description" class="mt-2 font-semibold text-base text-main-gray" [innerHTML]="description"></h6>

    <!-- Owner, release time, song numbers, durations -->
    <h6 class="mt-2 font-semibold text-base text-main-gray">
      <a class="font-bold text-white hover:underline" href>{{ owner.displayName }}</a>
      <span *ngIf="releaseTime"> • {{ releaseTime }}</span>
      <span> • {{ tracks!.length }} Song{{tracks!.length === 1 ? '' : 's'}}</span>
      <span>, {{ duration! | duration }}</span>
    </h6>

  </div>
</div>
